{% extends 'form.html' %}
{% load dict_lib %}
{% block button %}
{% if 'update' in request|dict_class:'path'|cut:'/' %}
<hr/>
Status saat ini : <strong id="cdstate-actual"/>
<hr/>
<a href="javascript:cdstate(0)" class="btn btn-outline btn-default">Open</a>&nbsp;
<a href="javascript:cdstate(1)" class="btn btn-outline btn-default">Close</a>&nbsp;
<a href="javascript:cdstate(2)" class="btn btn-outline btn-default">Toggle</a>&nbsp;
<script language="text/javascript">
cdstate_actual();
function cdstate_actual() {
    $.post({% url 'setting' %}, {
        'csrfmiddlewaretoken':'{{ csrf_token }}',
        'command':'cdstate',
        'cd':{{ object.id }}
    }, function (data) {
        $('#cdstate-actual').html(data == 1 ? 'Close' : 'Open');
        setTimeout(cdstate_actual, 1000);
    });
}
function cdstate(state) {
    Pace.restart();
    $.post({% url 'setting' %}, {
        'csrfmiddlewaretoken':'{{ csrf_token }}',
        'command':'cdstate',
        'cd':{{ object.id }},
        'state':state
    }, function () {
        Pace.stop();
    });
}
</script>
{% endif %}
{% endblock %}