{% extends 'list.html' %}
{% load dict_lib %}
{% block list_header %}
<th>Kode Rak</th>
<th>Kode Kontrol</th>
<th>Kode Sensor</th>
<th>Tanggal Tanam</th>
<th>P x L x T</th>
<th>Tipe</th>
<th>Aktif</th>
{% endblock %}
{% block list_body %}
<td><a href="{% url name|add:'_update' object.id %}">{{ object.kode }}</a></td>
<td>{{ object|dict_get_display:'plant_control'|default_if_none:'-' }}</td>
<td>{{ object|dict_get_display:'plant_sensor'|default_if_none:'-' }}</td>
<td>{{ object|dict_get_display:'dt'|default_if_none:'-' }}</td>
<td>{{ object|dict_get_display:'p'|default_if_none:'-' }} x {{ object|dict_get_display:'l'|default_if_none:'-' }} x {{ object|dict_get_display:'t'|default_if_none:'-' }}</td>
<td>{{ object|dict_get_display:'type'|default_if_none:'-' }}</td>
<td>{{ object|dict_get_display:'active'|default_if_none:'-' }}</td>
{% endblock %}