{% extends pwa_app_single|yesno:'empty.html,blank.html' %}
{% load static %}
{% block container %}
<div class="row">
	<div class="col-lg-12">
		<form id="form-delete" role="form" method="post">
			{% csrf_token %}
			{% if object.active %}
			<script type="text/javascript">
			document.getElementById('form-delete').submit();
			</script>
			{% else %}Hapus "{{ object }}" ?{% endif %}<hr />
    		<input type="submit" value="Ya" class="btn btn-outline btn-success" />&nbsp;
    		<input type="button" value="Tidak" class="btn btn-outline btn-danger" onclick="history.back()" />
		</form>
	</div>
</div>
{% endblock %}