{% extends 'blank.html' %}
{% load static %}
{% load dict_lib %}
{% load bootstrap3 %}
{% block container %}
<div class="row">
	<div class="col-lg-12">
		{% if 'duplicate' in request|dict_class:'path'|cut:'/' %}
		<form action="{% url name|add:'_create' %}" role="form" method="post">
		{% else %}
		<form role="form" method="post">
		{% endif %}
			{% csrf_token %}
			{% if link_list %}
				{% for link in link_list %}
					<a href="{{ link.link }}" class="btn btn-outline btn-default">{{ link.name }}</a>&nbsp;
				{% endfor %}
				<hr />
			{% endif %}
			{% bootstrap_form form %}
			<input type="reset" value="Reset" class="btn btn-outline btn-warning" />&nbsp;
			<input type="submit" value="Submit" class="btn btn-outline btn-success" />&nbsp;
		</form>
	</div>
</div>
{% endblock %}
{% block jquery %}
{% for datetime_field in datetime_fields %}
	$('#id_{{ datetime_field }}').datetimepicker({format:'YYYY-MM-DD HH:mm:ss'});
{% endfor %}
{% endblock %}