{% extends 'blank.html' %}
{% load static %}
{% load dict_lib %}
{% load bootstrap3 %}
{% block container %}
	<div class="row">
		<div class="col-lg-12 text-center">
			<img style="max-width: 200px; width: 100%;" src="{% static 'img/hipo-icon-2.png' %}" border="0" />
			<h3>SIHIPO{% if git_version %}<br/>{{ git_version }}{% endif %}<br/>(Sistem Informasi<br/>Hidroponik)</h3>
			<a class="btn btn-outline btn-success" href="{% url 'dashboard' %}">Dashboard</a>
			<a class="btn btn-outline btn-success" href="https://github.com/okkype/sihipo.git" target="_blank">Kontribusi</a>
		</div>
	</div>
{% endblock %}