{% extends pwa_app_single|yesno:'empty.html,blank.html' %}
{% load static %}
{% load dict_lib %}
{% block container %}
<div class="row">
	<div class="col-lg-12">
	{% if object_list %}
		<table class="table table-striped table-condensed table-hover {% if filter %}data-tables{% endif %}">
			<thead>
				<tr>
					{% block list_header %}
					{% for table_field in table_fields %}
					<th>
					   {% if not filter %}<a href="{% url name|add:'_list' %}?sort={{ table_field }}">{% endif %}
					       {{ table_headers|dict_get:table_field }}
					   {% if not filter %}</a>{% endif %}
				    </th>
					{% endfor %}
					{% endblock %}
					<th>
					    <div class="btn-group">
					        <a href="{% url name|add:'_create' %}" class="btn btn-outline btn-success btn-xs" style="font-family: courier;"><i class="fa fa-plus"></i></a>
					        {% if table_extra %}
					            <a href="javascript:if(confirm('Apakah Anda Yakin Membuang Semua {{verbose_name}} ke Sampah?')) trash('{{ table_model }}','trash');" class="btn btn-outline btn-danger btn-xs" style="font-family: courier;"><i class="fa fa-trash"></i></a>
					            <a href="javascript:if(confirm('Apakah Anda Yakin Memhapus Semua {{verbose_name}} dari Sampah?')) trash('{{ table_model }}','empty');" class="btn btn-outline btn-danger btn-xs" style="font-family: courier;"><i class="fa fa-close"></i></a>
					        {% endif %}
					    </div>
					</th>
				</tr>
			</thead>
			<tbody>
				{% for object in object_list %}
					<tr oncontextmenu="location.href='{{ pwa_app_single|yesno:'#target=,' }}{% url name|add:'_update' object.id %}';return false;">
						{% block list_body %}
						{% for table_field in table_fields %}
						<td {% if object|dict_get_field_type:table_field in numeric_field %}data-type="numeric"{% endif %}>
						{% if forloop.first %}
						<strong>
						{% endif %}
						{{ object|dict_get_display:table_field|default_if_none:'-' }}
						{% if forloop.first %}
						</strong>
						{% endif %}
						</td>
						{% endfor %}
						{% endblock %}
						<td>
						    <div class="btn-group">
                                <a href="{% url name|add:'_update' object.id %}" class="btn btn-outline btn-info btn-xs" style="font-family: courier;"><i class="fa fa-edit"></i></a>
    							<a href="{% url name|add:'_duplicate' object.id %}" class="btn btn-outline btn-info btn-xs" style="font-family: courier;"><i class="fa fa-copy"></i></a>
    							<a href="javascript:if(('{{ object.active }}'=='True')||confirm('Apakah Anda Yakin?')) trashone('{% url name|add:'_delete' object.id %}');" class="btn btn-outline btn-danger btn-xs" style="font-family: courier;"><i class="fa {% if object.active %}fa-trash{% else %}fa-close{% endif %}"></i></a>
    						</div>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<a href="{% url name|add:'_create' %}" class="btn btn-outline btn-success">Tambah Baru</a>
	{% endif %}
	</div>
</div>
{% endblock %}
{% block javascript %}
function trashone(url) {
    Pace.stop();
    Pace.bar.render();
    $.post(url, {
        'csrfmiddlewaretoken':'{{ csrf_token }}'
    }, function () {
        {% if pwa_app_single %}
            pwa_page();
            Pace.stop();
        {% else %}
            location.reload();
        {% endif %}
    });
}
function trash(model, command) {
    Pace.stop();
    Pace.bar.render();
    $.post({% url 'setting' %}, {
        'csrfmiddlewaretoken':'{{ csrf_token }}',
        'pks':'[{% for object in object_list %}{{ object.id }},{% endfor %}]',
        'command':command,
        'model':model
    }, function () {
        {% if pwa_app_single %}
            pwa_page();
            Pace.stop();
        {% else %}
            location.reload();
        {% endif %}
    });
}
{% endblock %}