{% extends 'blank.html' %}
{% load static %}
{% load bootstrap3 %}
{% block container %}
<div class="row">
	<div class="col-md-12 col-xs-12">
		<form role="form" method="post">
			{% csrf_token %}
			<div class="form-group">
				<label class="control-label" for="id_intval_sensor">Sensor Interval</label>
				<input class="form-control" id="id_intval_sensor" name="intval_sensor" type="number" min="1" value="{% if intval_sensor_run %}{{ intval_sensor_run }}{% else %}1{% endif %}" />
			</div>
			<input class="btn btn-outline {% if thread_sensor_run %}btn-danger{% else %}btn-success{% endif %}" name="thread_sensor" type="submit" value="{% if thread_sensor_run %}Stop{% else %}Start{% endif %} Sensor Thread" />&nbsp;
			<hr />
		</form>
	</div>
	<div class="col-md-12 col-xs-12">
		<form role="form" method="post">
			{% csrf_token %}
			<div class="form-group">
				<label class="control-label" for="id_intval_control">Control Interval</label>
				<input class="form-control" id="id_intval_control" name="intval_control" type="hidden" min="1" value="{% if intval_control_run %}{{ intval_control_run }}{% else %}1{% endif %}" />
			</div>
			<input class="btn btn-outline {% if thread_control_run %}btn-danger{% else %}btn-success{% endif %}" name="thread_control" type="submit" value="{% if thread_control_run %}Stop{% else %}Start{% endif %} Control Thread" />&nbsp;
			<hr />
		</form>
	</div>
	<div class="col-md-12 col-xs-12">
		<form role="form" method="post">
			{% csrf_token %}
			<div class="form-group">
				<label class="control-label" for="id_intval_eval">Eval Interval</label>
				<input class="form-control" id="id_intval_eval" name="intval_eval" type="hidden" min="1" value="{% if intval_eval_run %}{{ intval_eval_run }}{% else %}1{% endif %}" />
			</div>
			<input class="btn btn-outline {% if thread_eval_run %}btn-danger{% else %}btn-success{% endif %}" name="thread_eval" type="submit" value="{% if thread_eval_run %}Stop{% else %}Start{% endif %} Eval Thread" />&nbsp;
			<hr />
		</form>
	</div>
    <div class="col-md-12 col-xs-12">
        <form role="form" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label class="control-label" for="id_intval_telegram">Telegram Chat ID</label>
                <input class="form-control" id="id_intval_telegram" name="intval_telegram" type="number" min="0" value="{% if intval_telegram_run %}{{ intval_telegram_run }}{% else %}0{% endif %}" />
            </div>
            <input class="btn btn-outline {% if thread_telegram_run %}btn-danger{% else %}btn-success{% endif %}" name="thread_telegram" type="submit" value="{% if thread_telegram_run %}Stop{% else %}Start{% endif %} Telegram Thread" />&nbsp;
            <hr />
        </form>
    </div>
	<div class="col-md-12 col-xs-12">
	    <form role="form" method="post">
	        {% csrf_token %}
            <div class="form-group">
        		<label class="control-label" for="id_ip_list">IP List (/var/lib/misc/dnsmasq.leases)</label>
        		<textarea name="ip_list" id="id_ip_list">{{ ip_list }}</textarea>
        	</div>
            <input class="btn btn-outline btn-success" name="command" type="submit" value="Tambahkan ke Sensor/Kontrol" />&nbsp;
            <hr />
        </form>
	</div>
</div>
{% endblock %}
{% block javascript %}
	code_edit('id_ip_list');
{% endblock %}
{% block jquery %}
{% for datetime_field in datetime_fields %}
	$('#id_{{ datetime_field }}').datetimepicker({format:'YYYY-MM-DD HH:mm:ss'});
{% endfor %}
{% endblock %}