@font-face {
    font-family: lato;
    src: url(Lato-Regular.ttf);
}

@font-face {
    font-family: panton;
    src: url(Panton-Regular.otf);
}

@font-face {
    font-family: itc;
    src: url(itc.ttf);
}

body {
	font-family: panton;
}

td {
	text-align: justify;
}

td[data-type=numeric] {
	text-align: right;
	font-weight: 900;
}

textarea, .CodeMirror {
	font-family: courier, monospace !important;
	resize: vertical;
}